* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  width: 90%;
  margin-inline: auto;
}

header {
  min-height: 100vh;
  background-image: url(/image/model-3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Open Hamburger Button */
}

header .navbar {
  padding: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 1180px) {
  header .navbar {
    /*display: none;*/
  }
}

header .navbar .logo {
  letter-spacing: 0.7rem;
  text-decoration: none;
  font-size: 1.5rem;
  color: #393e46;
}

header .navbar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

@media (max-width: 1180px) {
  header .navbar .nav-links {
    display: none;
  }
}

header .navbar .nav-links li {
  list-style-type: none;
  padding: 6px 20px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

header .navbar .nav-links li:hover {
  background: #b7b7b7;
  border-radius: 2px;
}

header .navbar .nav-links li a {
  text-decoration: none;
  color: #393e46;
}

header .hamburger {
  padding: 5px 0;
  text-decoration: none;
  color: #393e46;
  font-weight: bold;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

@media (max-width: 1180px) {
  header .hamburger {
    background: #b7b7b7;
    padding: 5px 20px;
    border-radius: 2px;
  }
}

header .hamburger:hover {
  background: #b7b7b7;
}

header .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .intro-content h1 {
  font-size: 2.5rem;
  margin-top: 1.8rem;
  letter-spacing: 0.05rem;
}

header .intro-content a {
  padding: .5rem 0;
  color: #393e46;
}

header .two-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 77%;
  bottom: 50%;
  left: 30%;
}

@media (max-width: 780px) {
  header .two-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

header .two-buttons .btn {
  padding: .8rem 4rem;
  margin: 0 .6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 780px) {
  header .two-buttons .btn {
    margin: .5rem 0;
    width: 100%;
  }
}

header .two-buttons .custom-btn {
  background: #393e46;
  color: #fff;
  font-weight: bold;
}

/* Mobile Menu */
.mobile-nav {
  position: fixed;
  display: block;
  min-height: 100vh;
  width: 30%;
  background: #fff;
  right: -100%;
  top: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  overflow-x: hidden;
  z-index: 1;
}

@media (max-width: 780px) {
  .mobile-nav {
    width: 50%;
  }
}

@media (max-width: 450px) {
  .mobile-nav {
    width: 70%;
  }
}

.mobile-nav .close-btn {
  position: absolute;
  top: 25px;
  right: 25px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  font-size: 1.5rem;
  background: #fff;
}

.mobile-nav .mobile-nav-links {
  margin-top: 5rem;
  list-style: none;
}

.mobile-nav .mobile-nav-links li {
  padding: 10px 0px 10px 50px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.mobile-nav .mobile-nav-links li:hover {
  background: #b7b7b7;
}

.mobile-nav .mobile-nav-links li a {
  display: block;
  text-align: left;
  color: #393e46;
  text-decoration: none;
}

.mobile-nav.is-active {
  right: 0;
}

.mobile-nav.close {
  right: -100%;
}

/* Model-Y */
.model-Y {
  min-height: 110vh;
  background-image: url(/image/model-y.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.model-Y .model-Y-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.model-Y .model-Y-content h1 {
  padding-top: 7rem;
}

.model-Y .model-Y-content .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.model-Y .model-Y-content .intro-content h1 {
  font-size: 2.5rem;
  margin-top: 1.8rem;
  letter-spacing: 0.05rem;
}

.model-Y .model-Y-content .intro-content a {
  padding: .5rem 0;
  color: #393e46;
}

.model-Y .two-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 77%;
  bottom: 50%;
  left: 30%;
}

@media (max-width: 780px) {
  .model-Y .two-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.model-Y .two-buttons .btn {
  padding: .8rem 4rem;
  margin: 0 .6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .model-Y .two-buttons .btn {
    margin: .5rem 0;
    width: 100%;
  }
}

.model-Y .two-buttons .custom-btn {
  background: #393e46;
  color: #fff;
  font-weight: bold;
}

/* Model S */
.model-S {
  background-image: url(/image/model-s.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  position: relative;
}

.model-S .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.model-S .intro-content h1 {
  font-size: 2.5rem;
  margin-top: 1.8rem;
  letter-spacing: 0.05rem;
  padding-top: 6rem;
}

.model-S .intro-content a {
  padding: .5rem 0;
  color: #393e46;
}

.two-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 77%;
  bottom: 50%;
  left: 30%;
}

@media (max-width: 780px) {
  .two-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.two-buttons .btn {
  padding: .8rem 4rem;
  margin: 0 .6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .two-buttons .btn {
    margin: .5rem 0;
    width: 100%;
  }
}

.two-buttons .custom-btn {
  background: #393e46;
  color: #fff;
  font-weight: bold;
}

/* Model X */
.model-X {
  background-image: url(/image/model-x.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  position: relative;
}

.model-X .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.model-X .intro-content h1 {
  font-size: 2.5rem;
  margin-top: 1.8rem;
  letter-spacing: 0.05rem;
  padding-top: 6rem;
}

.model-X .intro-content a {
  padding: .5rem 0;
  color: #393e46;
}

.two-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 77%;
  bottom: 50%;
  left: 30%;
}

@media (max-width: 780px) {
  .two-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.two-buttons .btn {
  padding: .8rem 4rem;
  margin: 0 .6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .two-buttons .btn {
    margin: .5rem 0;
    width: 100%;
  }
}

.two-buttons .custom-btn {
  background: #393e46;
  color: #fff;
  font-weight: bold;
}

/* Solar Roof */
.solar-panel {
  background-image: url(/image/solar-panels.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  position: relative;
}

.solar-panel .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.solar-panel .intro-content h1 {
  font-size: 2.5rem;
  margin-top: 1.8rem;
  letter-spacing: 0.05rem;
  padding-top: 6rem;
}

.solar-panel .intro-content p {
  padding: .5rem 0;
  color: #393e46;
}

.two-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 77%;
  bottom: 50%;
  left: 30%;
}

@media (max-width: 780px) {
  .two-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.two-buttons .btn {
  padding: .8rem 4rem;
  margin: 0 .6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .two-buttons .btn {
    margin: .5rem 0;
    width: 100%;
  }
}

.two-buttons .custom-btn {
  background: #393e46;
  color: #fff;
  font-weight: bold;
}

/* Solar Roof */
.solar-roof {
  background-image: url(/image/solar-roof.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  position: relative;
}

.solar-roof .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.solar-roof .intro-content h1 {
  font-size: 2.5rem;
  margin-top: 1.8rem;
  letter-spacing: 0.05rem;
  padding-top: 6rem;
}

.solar-roof .intro-content p {
  padding: .5rem 0;
  color: #393e46;
}

.two-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 77%;
  bottom: 50%;
  left: 30%;
}

@media (max-width: 780px) {
  .two-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.two-buttons .btn {
  padding: .8rem 4rem;
  margin: 0 .6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

@media (max-width: 780px) {
  .two-buttons .btn {
    margin: .5rem 0;
    width: 100%;
  }
}

.two-buttons .custom-btn {
  background: #393e46;
  color: #fff;
  font-weight: bold;
}

/* Accessories */
.accessories {
  background-image: url(/image/accessories.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 110vh;
  position: relative;
  /* Reveal */
}

.accessories .intro-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.accessories .intro-content h1 {
  font-size: 2.5rem;
  margin-top: 1.8rem;
  letter-spacing: 0.05rem;
  padding-top: 6rem;
}

.accessories .intro-content p {
  padding: .5rem 0;
  color: #393e46;
}

.accessories .two-buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 77%;
  bottom: 50%;
  left: 42%;
}

@media (max-width: 780px) {
  .accessories .two-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.accessories .two-buttons .shop-btn {
  padding: .8rem 4rem;
  margin: 0 .6rem;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background: #393e46;
  color: #fff;
}

@media (max-width: 780px) {
  .accessories .two-buttons .shop-btn {
    margin: .5rem 0;
    width: 100%;
  }
}

.accessories .reveal {
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
}

.accessories .reveal.active {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  opacity: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

footer .footer-content {
  padding: 1.5rem 0;
  text-align: center;
}

footer .footer-content a {
  text-decoration: none;
  color: #393e46;
  padding: 0 .5rem;
  font-size: 0.8rem;
  font-weight: 600;
}
/*# sourceMappingURL=style.css.map */